html {
  overflow: hidden;
}

// Editor Layout
.editor-view__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.editor-view__tab-bar {
  background: #222222;
  height: 2rem;
}
.editor-view__body {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.editor-view__main-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editor-view__sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  background: #111111;
}

// Workspace
.artboard__wrapper {
  margin: 2rem auto;
}
.artboard__frame {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2PcvXv3fwY04OrqyoguxjgUFKI7GsTH5m4M3w1ChQBotCP7mQVB2wAAAABJRU5ErkJggg==);
  background-size: 10px 10px;
  border: #444444 solid 1px;
}
.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  &.is-hidden{
    display:none;
  }
}
.group__selection {
  position: absolute;
  top: 0;
  left: 0;
}

// Artboards Palette
.layer-list-item__wrapper {

  .layer-list-item__show-hide {
    opacity: 0;
    transition: opacity .2s linear;
  }
  &.is-hidden {

    .layer-list-item__show-hide {
      opacity: .75;
    }
  }
  &:hover {
    .layer-list-item__show-hide {
      opacity: 1;
    }
  }
}
.sublayer-group__wrapper {
  padding-left: 1rem;
}

.layer__shape {
  outline: none;
  background: none;
  border: none;

  & > button {
    background: none;
    border: none;
    outline: none;

    &:focus {
      background: #F00;
    }
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}