// Editor Layout
.editor-view__tab-bar {
  background: #222222;
  height: 2rem;
}
.editor-view__body {
  display: flex;
  flex-direction: row;
}
.editor-view__main-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editor-view__sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  background: #111111;
}

// Workspace
.artboard__wrapper {
  margin: 2rem auto;
}
.artboard__frame {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  background: white;
  border: #444444 solid 1px;
}
.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  &.is-hidden{
    display:none;
  }
}

// Artboards Palette
.layer-list-item__wrapper {

  .layer-list-item__show-hide {
    opacity: 0;
    transition: opacity .2s linear;
  }
  &.is-hidden {

    .layer-list-item__show-hide {
      opacity:.75;
    }
  }
  &:hover {
    .layer-list-item__show-hide {
      opacity: 1;
    }
  }
}