// Variables
$dark-green: #21967d;
$mid-green: #1bbf9c;

// Styles
#home-block-fake2 {
  background: linear-gradient(to right, rgb(210, 119, 255), rgb(33, 212, 253));
  color: rgb(70, 90, 150);

  .home-item__title {
    color: white;

    &:after {
      color: white;
    }
  }

  .home-item__category {
    color: rgb(70, 90, 150);
  }

  .home-item__cta {
    background: #b721ff;
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: #b721ff;
    }
  }
}

#artboard-wrapper-fake2 {
  .action-bar__button {
    svg {
      stroke: rgb(70, 90, 150);
    }

    &:hover svg {
      stroke: rgba(255, 255, 255, 1);
    }
  }
}
