// Variables
$mid-green: #21967d;
$dark-green: #1bbf9c;

// Styles
#home-block-fake {
  background: linear-gradient(
    to right,
    rgb(255, 217, 183),
    rgb(11, 231, 183),
    rgb(255, 141, 192)
  );
  color: $mid-green;

  .home-item__title {
    color: white;

    &:after {
      color: white;
    }
  }

  .home-item__category {
    color: $mid-green;
  }

  .home-item__cta {
    background: rgba(255, 141, 192, 1);
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: $mid-green;
    }
  }
}

#artboard-wrapper-fake {
  .action-bar__button {
    svg {
      stroke: rgba(255, 217, 183, 0.75);
    }

    &:hover svg {
      stroke: rgba(255, 255, 255, 1);
    }
  }
}
