.artboard__wrapper {
  margin: 2rem auto; }

.artboard__frame {
  position: relative;
  border: #444444 solid 1px;
  min-width: 200px;
  min-height: 200px; }

.artboard__frame.is-selected {
  border-color: black; }

.artboard__frame.is-selected:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  box-shadow: 0 0 10px 3px blue;
  pointer-events: none; }

.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0; }

.layer__wrapper:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: cyan solid 1px;
  pointer-events: none; }

.layer__wrapper.is-selected:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: #00F solid 1px;
  pointer-events: none; }
