// Home Block
.home-block {
  display: flex;
  height: 100%;
  align-items: center;
}
.home-block__text-section {
  flex: 1;
  padding-left: 4rem;
}
.home-block__text-container {
  padding: 2rem 1rem 2rem 6rem;
}
.home-block__artboard-section {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: visible;
}

// Artboard
.artboard__wrapper {
  height: 90vh;
  width: 100%;
  position: relative;
  margin: 2rem auto;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover .action-bar__button,
  &:hover .action-bar__plus-icon {
    opacity: 1;
  }
}

.artboard {
  margin: 0 auto;
}

.artboard__header {
  cursor: default;
}

.artboard__frame {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  min-width: 200px;
  min-height: 200px;
}
.artboard__selection-indicator {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  pointer-events: none;
  opacity: 0;
  transition: opacity linear 0.1s;
}
.artboard__svg-wrapper {
  background: white;
  box-shadow: 0 2px 8px 3px rgba(50, 50, 50, 0.3);
  transition: box-shadow linear 0.2s;
  z-index: 11;

  &.is-selected {
    box-shadow: 0 4px 12px 3px rgba(50, 50, 50, 0.5);
  }
  svg {
    user-select: none;
  }
}

// Layers
.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

// Resize Controls
.resize-control__wrapper {
  // background: #F00;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity linear 0.1s;
  pointer-events: none;

  & > div {
    box-sizing: border-box;

    * {
      pointer-events: all;
    }
  }

  &.is-active {
    opacity: 1;

    & > * {
      pointer-events: initial;
    }
  }
}

// Drag Controls
.drag-handle {
  // background: rgba(255,0,0,.4);
  box-sizing: border-box;
  border: rgba(255, 0, 188, 0) solid 0.5px;
  transition: border linear 0.1s;

  &:hover,
  &.is-selected {
    border: $magenta solid 0.5px;
  }
}

// Resize Handles
$resizeEdgeWidth: 0.5rem;

.resize-handle {
  position: absolute;
}
.resize-handle__top {
  top: - $resizeEdgeWidth;
  right: $resizeEdgeWidth;
  left: $resizeEdgeWidth;
  height: $resizeEdgeWidth;
  cursor: ns-resize;
}
.resize-handle__right {
  top: $resizeEdgeWidth;
  right: - $resizeEdgeWidth;
  bottom: $resizeEdgeWidth;
  width: $resizeEdgeWidth;
  cursor: ew-resize;
}
.resize-handle__bottom {
  right: $resizeEdgeWidth;
  bottom: - $resizeEdgeWidth;
  left: $resizeEdgeWidth;
  height: $resizeEdgeWidth;
  cursor: ns-resize;
}
.resize-handle__left {
  bottom: $resizeEdgeWidth;
  left: - $resizeEdgeWidth;
  top: $resizeEdgeWidth;
  width: $resizeEdgeWidth;
  cursor: ew-resize;
}
.resize-handle__top-left,
.resize-handle__top-right,
.resize-handle__bottom-right,
.resize-handle__bottom-left {
  width: $resizeEdgeWidth * 1.5;
  height: $resizeEdgeWidth * 1.5;
  background: white;
  border: $magenta solid 1px;
  border-radius: 50%;
}
.resize-handle__top-left {
  @extend .resize-handle;
  top: - $resizeEdgeWidth / 1.5;
  left: - $resizeEdgeWidth / 1.5;
}
.resize-handle__top-right {
  @extend .resize-handle;
  top: - $resizeEdgeWidth / 1.5;
  right: - $resizeEdgeWidth / 1.5;
}
.resize-handle__bottom-right {
  @extend .resize-handle;
  bottom: - $resizeEdgeWidth / 1.5;
  right: - $resizeEdgeWidth / 1.5;
}
.resize-handle__bottom-left {
  @extend .resize-handle;
  bottom: - $resizeEdgeWidth / 1.5;
  left: - $resizeEdgeWidth / 1.5;
}

// Action Bars
.action-bar__left,
.action-bar__top-right,
.action-bar__bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 3rem;
}
.action-bar__left {
  top: 0;
  left: -3rem;
}
.action-bar__top-right {
  top: 0;
  right: -3rem;
}
.action-bar__bottom-right {
  bottom: 0.5rem;
  right: -3rem;
}
.action-bar__button,
.action-bar__plus-icon {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  margin: 0rem 0.5rem;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  transition: all linear 0.2s;
  z-index: 100;

  svg {
    transition: all linear 0.2s;
  }
}

.action-bar__plus-icon {
  cursor: default;
}

// Adjustments Panel
.adjustments-panel__wrapper {
  font-family: "Source Code Pro", sans-serif;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 1rem;
  width: 9rem;
  padding-right: 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: 10;
  background: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.1875rem;
  transition: margin-left ease-in-out 0.2s;

  &.active {
    margin-left: -8rem;
  }
}
.adjustments-panel__header {
  background: #111;
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1px;

  &:first-child {
    border-radius: 0.1875rem 0 0;
    margin-top: none;
  }
}

.adjustments-panel__adjustment-block {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.adjustments-input--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0;

  > label {
    @include adjustments-label();
    flex: 1;
  }
  > input {
    @include adjustments-text-input();
    flex: 4;
  }
}

.adjustments-input--select {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0;

  > label {
    @include adjustments-label();
    flex: 1;
  }
  > select {
    @include adjustments-select-input();
    flex: 4;
  }
  &::after {
    content: "⌄";
    display: block;
    position: absolute;
    top: 0;
    right: 0.25rem;
    line-height: 1.5rem;
    pointer-events: none;
  }
}

.gradient-adjustment__gradient-thumbnail,
.color-adjustment__color-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 1rem;
  margin: 0.25rem 0;
}

.color-adjustment__thumbnail,
.gradient-adjustment__gradient-start-thumbnail,
.gradient-adjustment__gradient-end-thumbnail {
  @include color-dot();
  background: #444;
  position: absolute;
  top: 0;
}

.gradient-adjustment__gradient-start-thumbnail,
.color-adjustment__thumbnail {
  left: 0;
}

.gradient-adjustment__gradient-end-thumbnail {
  right: 0;
}

.gradient-adjustment__gradient-thumbnail-preview,
.color-adjustment__preview {
  background: #444;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0.5rem;
  right: 0.5rem;
  transition: all linear 0.2s;
  box-shadow: 0 0 0 1px white;
  border-radius: 1px;
}

.color-adjustment__preview {
  right: 0;
}

.color-adjustment__color-picker {
  display: block;
  position: relative;
  width: 100%;
  height: 1rem;
}

.color-picker__row {
  display: flex;
  width: 100%;
}

.color-picker__color-dot-wrapper {
  width: 20%;
}

.color-picker__color-dot {
  @include color-dot();
  margin: 0.2rem auto;
}

// Image picker
.image-picker {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.25rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  background: white;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);

  &:hover .image-picker__thumbnail img {
    opacity: 0.75;
  }
}

.image-picker__body {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.image-picker__footer {
  height: 3rem;
}

.image-picker__thumbnail {
  transition: opacity linear 0.2s;
  width: 33.3%;

  > img {
    display: block;
    width: 100%;
    padding: 0.25rem;
    box-sizing: border-box;
    height: auto;
    background: rgba(0, 0, 0, 0);
    transition: all linear 0.2s;
  }

  &:hover img:hover {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}
