html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.app-layout__container {
  background: #f5eef5;
}

.nav-menu {
  width: $nav-width * 2;
  opacity: 0;
  transition: all linear 0.1s;
  list-style: none;
  padding: 0;

  a {
    @include font-source-code();
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.25rem 0.75rem;

    i {
      font-size: 0.75em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.app-layout__nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background: #444;
  mix-blend-mode: overlay;
  transition: width ease-in-out 0.2s;
  overflow: hidden;

  &:hover {
    width: $nav-width * 2;

    .nav-menu {
      opacity: 1;
    }
  }
}

.app-layout__logo {
  filter: drop-shadow(0 1px 2px 1px rgba(0, 0, 0, 1));
}

.logo-svg {
  stroke: #bbbbbb;
  width: $nav-width;
  transition: all linear 0.2s;

  &:hover {
    stroke: black;
  }
}

.editor-view__copy {
  h1 {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 100;
  }
  p {
    font-size: 0.875rem;
  }
}
