.home-item__category {
  @include font-source-code();
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0;
}

.home-item__title {
  @include font-source-sans();
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem;
}

.home-item__blurb {
  line-height: 1.5;
  font-size: 0.875rem;
}

.home-item__cta {
  @include button();
  margin: 1rem 0;

  &:after {
    content: " \2192";
  }
}
