// Styles
#home-block-#{$artboardId} {
  background-image: linear-gradient(
    to bottom right,
    rgba($backgroundStart, 1),
    rgba($backgroundEnd, 1)
  );
  background-size: 100% 75%;
  background-position: center top;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

#artboard-wrapper-#{$artboardId} {
  .action-bar__button {
    svg {
      stroke: $action-button;
    }

    &:hover svg {
      stroke: $action-button-hover;
    }
  }
}
