// Fonts
@mixin font-source-code() {
  font-family: "Source Code Pro", sans-serif;
}

@mixin radius() {
  border-radius: 0.125rem;
}

@mixin button() {
  @include radius();
  @include font-source-code();
  color: white;
  background: black;
  border: none;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
  text-transform: uppercase;

  &:hover {
    background: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
}

// Adjustment Inputs
@mixin adjustments-label() {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75rem;
  color: white;
  display: block;
  flex: 1;
  margin-right: 0.5rem;
}

@mixin adjustments-text-input() {
  @include font-source-code();
  line-height: 1.5;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
  background: #666;
  border: none;
  border-radius: 0.125rem;
  color: white;
}

@mixin adjustments-select-input() {
  @include font-source-code();
  @include radius();
  appearance: none;
  line-height: 1.5;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
  background: #666;
  border: none;
  color: white;
}

@mixin color-dot() {
  display: block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 1px white;
  transition: all linear 0.1s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 2px white;
  }
}
