html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

.app-layout__container {
  display: flex; }

.app-layout__nav {
  width: 10rem;
  background: #EEEEEE; }

.editor-view__copy h1 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 100; }

.editor-view__copy p {
  font-size: .875rem; }

.editor-view__copy-area {
  flex: 1; }

.editor-view__copy {
  padding: 2rem 1rem 2rem 6rem; }

.editor-view__artboard-area {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden; }

.editor-view__sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px; }

.artboard__wrapper {
  flex: 2;
  position: relative;
  margin: 2rem auto;
  margin: 0 auto;
  box-sizing: border-box; }

.artboard__wrapper:hover .action-bar__button {
  opacity: 1; }

.artboard__header {
  cursor: default; }

.artboard__frame {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  min-width: 200px;
  min-height: 200px; }

.artboard__selection-indicator {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  pointer-events: none;
  opacity: 0;
  transition: opacity linear .1s; }

.artboard__svg-wrapper {
  background: white;
  box-shadow: 0 2px 8px 3px rgba(50, 50, 50, 0.3);
  transition: box-shadow linear .2s;
  z-index: 11; }

.artboard__svg-wrapper.is-selected {
  box-shadow: 0 4px 12px 3px rgba(50, 50, 50, 0.5); }

.artboard__svg-wrapper svg {
  user-select: none; }

.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none; }

.resize-control__wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity linear .1s;
  pointer-events: none; }

.resize-control__wrapper > div {
  box-sizing: border-box; }

.resize-control__wrapper > div * {
  pointer-events: auto; }

.resize-control__wrapper.is-active {
  opacity: 1; }

.resize-control__wrapper.is-active > * {
  pointer-events: initial; }

.drag-handle {
  box-sizing: border-box; }

.drag-handle:hover {
  border: rgba(255, 0, 188, 0.9) solid 1px; }

.resize-handle, .resize-handle__top-left, .resize-handle__top-right, .resize-handle__bottom-right, .resize-handle__bottom-left {
  position: absolute; }

.resize-handle__top {
  top: -0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  height: 0.5rem;
  cursor: ns-resize; }

.resize-handle__right {
  top: 0.5rem;
  right: -0.5rem;
  bottom: 0.5rem;
  width: 0.5rem;
  cursor: ew-resize; }

.resize-handle__bottom {
  right: 0.5rem;
  bottom: -0.5rem;
  left: 0.5rem;
  height: 0.5rem;
  cursor: ns-resize; }

.resize-handle__left {
  bottom: 0.5rem;
  left: -0.5rem;
  top: 0.5rem;
  width: 0.5rem;
  cursor: ew-resize; }

.resize-handle__top-left,
.resize-handle__top-right,
.resize-handle__bottom-right,
.resize-handle__bottom-left {
  width: 0.5rem;
  height: 0.5rem;
  background: white;
  border: rgba(255, 0, 188, 0.9) solid 1px;
  border-radius: 50%; }

.resize-handle__top-left {
  top: -0.5rem;
  left: -0.5rem; }

.resize-handle__top-right {
  top: -0.5rem;
  right: -0.5rem; }

.resize-handle__bottom-right {
  bottom: -0.5rem;
  right: -0.5rem; }

.resize-handle__bottom-left {
  bottom: -0.5rem;
  left: -0.5rem; }

.action-bar__left, .action-bar__top-right, .action-bar__bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 3rem; }

.action-bar__left {
  top: 0;
  left: -3rem; }

.action-bar__top-right {
  top: 0;
  right: -3rem; }

.action-bar__bottom-right {
  bottom: 0;
  right: -3rem; }

.action-bar__button {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  margin: .25rem .5rem;
  opacity: 0;
  transition: opacity linear .2s;
  cursor: pointer; }

.adjustments-panel__wrapper {
  font-family: 'Source Code Pro', sans-serif;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 1rem;
  width: 9rem;
  padding-right: 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: 10;
  background: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: .1875rem;
  transition: margin-left ease-in-out .2s; }

.adjustments-panel__wrapper.active {
  margin-left: -8rem; }

.adjustments-panel__header {
  background: #111;
  color: white;
  font-size: .75rem;
  padding: .25rem .5rem;
  margin: .25rem 0; }

.adjustments-panel__header:first-child {
  border-radius: .1875rem 0 0;
  margin-top: 0; }

.adjustments-input--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 7.25rem;
  padding: .25rem; }

.adjustments-input--text > label {
  font-family: 'Source Code Pro', sans-serif;
  font-size: .75rem;
  text-align: center;
  color: white;
  display: block;
  flex: 1;
  margin: 0 .25rem; }

.adjustments-input--text > input {
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.5;
  flex: 6;
  width: 60px;
  margin: 0 .25rem;
  padding: 0 .25rem;
  box-sizing: border-box;
  background: #666;
  border: none;
  border-radius: .125rem;
  color: white; }
