@charset "UTF-8";
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

.app-layout__container {
  background: #f5eef5; }

.app-layout__nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  background: #444;
  mix-blend-mode: overlay; }

.app-layout__logo {
  filter: drop-shadow(0 1px 2px 1px black); }

.logo-svg {
  stroke: white;
  transition: all linear 0.2s; }

.logo-svg:hover {
  stroke: black; }

.editor-view__copy h1 {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 100; }

.editor-view__copy p {
  font-size: 0.875rem; }

.home-block {
  display: flex;
  height: 100%;
  align-items: center; }

.home-block__text-section {
  flex: 1;
  padding-left: 4rem; }

.home-block__text-container {
  padding: 2rem 6rem 2rem 6rem; }

.home-block__artboard-section {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: visible;
  height: 100vh;
  position: relative; }

.artboard__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center; }

.artboard__wrapper:hover .action-bar__button,
.artboard__wrapper:hover .action-bar__plus-icon {
  opacity: 1; }

.artboard {
  margin: 0 auto; }

.artboard__header {
  cursor: default; }

.artboard__frame {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  min-width: 200px;
  min-height: 200px; }

.artboard__selection-indicator {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  pointer-events: none;
  opacity: 0;
  transition: opacity linear 0.1s; }

.artboard__svg-wrapper {
  background: white;
  box-shadow: 0 2px 8px 3px rgba(50, 50, 50, 0.3);
  transition: box-shadow linear 0.2s;
  z-index: 11; }

.artboard__svg-wrapper.is-selected {
  box-shadow: 0 4px 12px 3px rgba(50, 50, 50, 0.5); }

.artboard__svg-wrapper svg {
  user-select: none; }

.layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none; }

.resize-control__wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity linear 0.1s;
  pointer-events: none; }

.resize-control__wrapper > div {
  box-sizing: border-box; }

.resize-control__wrapper > div * {
  pointer-events: all; }

.resize-control__wrapper.is-active {
  opacity: 1; }

.resize-control__wrapper.is-active > * {
  pointer-events: initial; }

.drag-handle {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border linear 0.1s; }

.drag-handle:hover, .drag-handle.is-selected {
  border: 1px solid #21d4fd; }

.resize-handle, .resize-handle__top-left, .resize-handle__top-right, .resize-handle__bottom-right, .resize-handle__bottom-left {
  position: absolute; }

.resize-handle__top {
  top: -0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  height: 0.5rem;
  cursor: ns-resize; }

.resize-handle__right {
  top: 0.5rem;
  right: -0.5rem;
  bottom: 0.5rem;
  width: 0.5rem;
  cursor: ew-resize; }

.resize-handle__bottom {
  right: 0.5rem;
  bottom: -0.5rem;
  left: 0.5rem;
  height: 0.5rem;
  cursor: ns-resize; }

.resize-handle__left {
  bottom: 0.5rem;
  left: -0.5rem;
  top: 0.5rem;
  width: 0.5rem;
  cursor: ew-resize; }

.resize-handle__top-left,
.resize-handle__top-right,
.resize-handle__bottom-right,
.resize-handle__bottom-left {
  width: 0.75rem;
  height: 0.75rem;
  background: white;
  border: rgba(255, 0, 188, 0.9) solid 1px;
  border-radius: 50%; }

.resize-handle__top-left {
  top: -0.33333rem;
  left: -0.33333rem; }

.resize-handle__top-right {
  top: -0.33333rem;
  right: -0.33333rem; }

.resize-handle__bottom-right {
  bottom: -0.33333rem;
  right: -0.33333rem; }

.resize-handle__bottom-left {
  bottom: -0.33333rem;
  left: -0.33333rem; }

.action-bar__left,
.action-bar__top-right,
.action-bar__bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 3rem; }

.action-bar__left {
  top: 0;
  left: -3rem; }

.action-bar__top-right {
  top: 0;
  right: -3rem; }

.action-bar__bottom-right {
  bottom: 0.5rem;
  right: -3rem; }

.action-bar__button {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  margin: 0rem 0.5rem 0.5rem;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  transition: all linear 0.2s;
  z-index: 100; }

.action-bar__button svg {
  stroke: #222;
  transition: all linear 0.2s; }

.action-bar__button:hover svg {
  stroke: #666; }

.action-bar__button:nth-child(1) {
  transition-delay: 0.03s; }

.action-bar__button:nth-child(2) {
  transition-delay: 0.06s; }

.action-bar__button:nth-child(3) {
  transition-delay: 0.09s; }

.action-bar__button:nth-child(4) {
  transition-delay: 0.12s; }

.action-bar__button:nth-child(5) {
  transition-delay: 0.14s; }

.action-bar__plus-icon {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  margin: 0rem 0.5rem;
  padding: 0;
  opacity: 0;
  cursor: default; }

.action-bar__plus-icon svg {
  stroke: #000;
  mix-blend-mode: overlay;
  transition: all linear 0.1s; }

.adjustments-panel__wrapper {
  font-family: "Source Code Pro", sans-serif;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 1rem;
  width: 9rem;
  padding-right: 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: 10;
  background: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.1875rem;
  transition: margin-left ease-in-out 0.2s; }

.adjustments-panel__wrapper.active {
  margin-left: -8rem; }

.adjustments-panel__header {
  background: #111;
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1px; }

.adjustments-panel__header:first-child {
  border-radius: 0.1875rem 0 0;
  margin-top: none; }

.adjustments-panel__adjustment-block {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.adjustments-input--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0; }

.adjustments-input--text > label {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75rem;
  color: white;
  display: block;
  flex: 1;
  margin-right: 0.5rem;
  flex: 1; }

.adjustments-input--text > input {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
  background: #666;
  border: none;
  border-radius: 0.125rem;
  color: white;
  flex: 4; }

.adjustments-input--select {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0; }

.adjustments-input--select > label {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.75rem;
  color: white;
  display: block;
  flex: 1;
  margin-right: 0.5rem;
  flex: 1; }

.adjustments-input--select > select {
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.125rem;
  appearance: none;
  line-height: 1.5;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
  background: #666;
  border: none;
  color: white;
  flex: 4; }

.adjustments-input--select::after {
  content: "⌄";
  display: block;
  position: absolute;
  top: 0;
  right: 0.25rem;
  line-height: 1.5rem;
  pointer-events: none; }

.gradient-adjustment__gradient-thumbnail,
.color-adjustment__color-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 1rem;
  margin: 0.25rem 0; }

.color-adjustment__thumbnail,
.gradient-adjustment__gradient-start-thumbnail,
.gradient-adjustment__gradient-end-thumbnail {
  display: block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 1px white;
  transition: all linear 0.1s;
  cursor: pointer;
  background: #444;
  position: absolute;
  top: 0; }

.color-adjustment__thumbnail:hover,
.gradient-adjustment__gradient-start-thumbnail:hover,
.gradient-adjustment__gradient-end-thumbnail:hover {
  box-shadow: 0 0 0 2px white; }

.gradient-adjustment__gradient-start-thumbnail,
.color-adjustment__thumbnail {
  left: 0; }

.gradient-adjustment__gradient-end-thumbnail {
  right: 0; }

.gradient-adjustment__gradient-thumbnail-preview,
.color-adjustment__preview {
  background: #444;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0.5rem;
  right: 0.5rem;
  transition: all linear 0.2s;
  box-shadow: 0 0 0 1px white;
  border-radius: 1px; }

.color-adjustment__preview {
  right: 0; }

.color-adjustment__color-picker {
  display: block;
  position: relative;
  width: 100%;
  height: 1rem; }

.color-picker__row {
  display: flex;
  width: 100%; }

.color-picker__color-dot-wrapper {
  width: 20%; }

.color-picker__color-dot {
  display: block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 1px white;
  transition: all linear 0.1s;
  cursor: pointer;
  margin: 0.2rem auto; }

.color-picker__color-dot:hover {
  box-shadow: 0 0 0 2px white; }

.image-picker {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.25rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  background: white;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6); }

.image-picker:hover .image-picker__thumbnail img {
  opacity: 0.75; }

.image-picker__body {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; }

.image-picker__footer {
  height: 3rem; }

.image-picker__thumbnail {
  transition: opacity linear 0.2s;
  width: 33.3%; }

.image-picker__thumbnail > img {
  display: block;
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  height: auto;
  background: transparent;
  transition: all linear 0.2s; }

.image-picker__thumbnail:hover img:hover {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1; }

.home-item__category {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0; }

.home-item__title {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem; }

.home-item__blurb {
  line-height: 1.5;
  font-size: 0.875rem; }

.home-item__cta {
  border-radius: 0.125rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background: black;
  border: none;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
  text-transform: uppercase;
  margin: 1rem 0; }

.home-item__cta:hover {
  background: #333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); }

.home-item__cta:after {
  content: " \2192"; }

#home-block-fake {
  background: linear-gradient(to right, #ffd9b7, #0be7b7, #ff8dc0);
  color: #21967d; }

#home-block-fake .home-item__title {
  color: white; }

#home-block-fake .home-item__title:after {
  color: white; }

#home-block-fake .home-item__category {
  color: #21967d; }

#home-block-fake .home-item__cta {
  background: #ff8dc0;
  color: white; }

#home-block-fake .home-item__cta:hover {
  background: white;
  color: #21967d; }

#artboard-wrapper-fake .action-bar__button svg {
  stroke: rgba(255, 217, 183, 0.75); }

#artboard-wrapper-fake .action-bar__button:hover svg {
  stroke: white; }

#home-block-fake2 {
  background: linear-gradient(to right, #d277ff, #21d4fd);
  color: #465a96; }

#home-block-fake2 .home-item__title {
  color: white; }

#home-block-fake2 .home-item__title:after {
  color: white; }

#home-block-fake2 .home-item__category {
  color: #465a96; }

#home-block-fake2 .home-item__cta {
  background: #b721ff;
  color: white; }

#home-block-fake2 .home-item__cta:hover {
  background: white;
  color: #b721ff; }

#artboard-wrapper-fake2 .action-bar__button svg {
  stroke: #465a96; }

#artboard-wrapper-fake2 .action-bar__button:hover svg {
  stroke: white; }
