// Local Colors
$purple: #b721ff;
$pale-purple: rgba(210, 119, 255, 1);
$dark-purple: rgba(70, 90, 150, 1);
$azure: rgb(33, 212, 253);
$turquoise: rgba(11, 231, 183, 1);
$yellow: rgba(255, 217, 183, 1);

// HomeBlock Config
$artboardId: "fake2"; // should match artboardId in the store
$background: linear-gradient(to right, $pale-purple, $azure);
$category: $dark-purple;
$title: white;
$blurb: $dark-purple;
$cta: $purple;
$cta-text: white;
$cta-hover: white;
$cta-text-hover: $purple;
$action-button: $dark-purple;
$action-button-hover: white;

@import "../_homeBlock";
