// Local Colors
$deep-sage: rgb(17, 176, 139);
$deep-purple: rgba(255, 141, 192, 1);
$pink: rgba(255, 141, 192, 1);
$turquoise: rgba(11, 231, 183, 1);
$yellow: rgba(255, 217, 183, 1);

// HomeBlock Config
$artboardId: "fake"; // should match artboardId in the store
$backgroundStart: $turquoise;
$backgroundEnd: $yellow;
$category: $deep-sage;
$title: white;
$blurb: $deep-sage;
$cta: $deep-purple;
$cta-text: white;
$cta-hover: white;
$cta-text-hover: $deep-purple;
$action-button: $pink;
$action-button-hover: white;

@import "../_homeBlock";
